## 함수도 객체다.
- 함수도 다른 객체처럼 클래스를 가지고 있다.
- 함수도 다른 객체처럼 변수

In [8]:
def add(x, y):
    """덧셈을 위한 함수"""
    return x + y

In [9]:
type(add)

function

In [10]:
import types

In [11]:
print(dir(types))

['AsyncGeneratorType', 'BuiltinFunctionType', 'BuiltinMethodType', 'CellType', 'ClassMethodDescriptorType', 'CodeType', 'CoroutineType', 'DynamicClassAttribute', 'FrameType', 'FunctionType', 'GeneratorType', 'GetSetDescriptorType', 'LambdaType', 'MappingProxyType', 'MemberDescriptorType', 'MethodDescriptorType', 'MethodType', 'MethodWrapperType', 'ModuleType', 'SimpleNamespace', 'TracebackType', 'WrapperDescriptorType', '_GeneratorWrapper', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_calculate_meta', '_cell_factory', 'coroutine', 'new_class', 'prepare_class', 'resolve_bases']

In [12]:
from types import FunctionType

In [13]:
add.__class__ is FunctionType

True

In [14]:
add_ = add

In [15]:
add_(1,2)

3

In [16]:
id(add_), id(add)

(2642175290672, 2642175290672)

In [17]:
add_.__class__ is FunctionType

True

In [18]:
FunctionType

function

## 매개변수에 초기 고정값 지정하기

- 매개변수에 초기값을 지정하는 이유는 이 매개변수에 인자가 안 들어올 경우 에러없이 처리하기위해 존재.
- 다른 언어는 함수를 오버로딩이 가능해서 여러 함수를 정의하는 것을 방지하기 위해 초기값을 지정하지만
- 파이썬같은 경우는 여러 함수를 동시에 정의할 수 없어서 초기값만으로 여러 함수를 정의한 것처럼 사용하게 됩니다.

In [21]:
def subtract(x=1, y=1):
    return x-y

In [22]:
def add(x,y):
    return x+y

In [23]:
globals()['add']

In [24]:
def add(x,y,z):
    return x+y+z

In [25]:
globals()['add']

In [33]:
def subtract(x=1, y=2):
    return x-y

In [34]:
print(dir(subtract))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [35]:
subtract.__defaults__

(1, 2)

In [39]:
subtract(y=3)

-2

In [58]:
def sample_function(a, b, c=1, d=2, *, kwargs1="123", kwargs2="name"):
    print(a,b)

In [59]:
sample_function.__defaults__

(1, 2)

In [60]:
sample_function.__kwdefaults__

{'kwargs1': '123', 'kwargs2': 'name'}

In [80]:
# 무슨 문제 풀었음.. 근데 코드를 알려주진 않았음... 백준에서 문제 푼 듯 ?
N = 7

schedule = [
    {
        'name': '1일',
        'T' : 3,
        'P' : 10
    },
    {
        'name': '2일',
        'T' : 5,
        'P' : 20
    },
    {
        'name': '3일',
        'T' : 1,
        'P' : 10
    },
    {
        'name': '4일',
        'T' : 1,
        'P' : 20
    },
    {
        'name': '5일',
        'T' : 2,
        'P' : 15
    },
    {
        'name': '6일',
        'T' : 4,
        'P' : 40
    },
    {
        'name': '7일',
        'T' : 2,
        'P' : 200
    },
]

In [74]:
for index, data in enumerate(schedule):
    print(f'{index+1}일 : {data}')

1일 : {'name': '1일', 'T': 3, 'P': 10}
2일 : {'name': '2일', 'T': 5, 'P': 20}
3일 : {'name': '3일', 'T': 1, 'P': 10}
4일 : {'name': '4일', 'T': 1, 'P': 20}
5일 : {'name': '5일', 'T': 2, 'P': 15}
6일 : {'name': '6일', 'T': 4, 'P': 40}
7일 : {'name': '7일', 'T': 2, 'P': 200}

In [77]:
remain_days = N
result_data = []

for index1, data1 in enumerate(schedule):
    result_datum = []
    for index2, data2 in enumerate(schedule):
        if index2 < index1:
            continue
        
        result_datum = []
        if data2['T'] <= remain_days:
            if len(result_datum > 0:
                if result_datum[len(result_datum) - 1]['T'] > index2 + 1:
                    result_datum.append(data2)
                    remain_days -= data2['T']
            else:
                   
    
    if len(result_datum) > 0:
        result_data.append(result_datum)

for data in result_data:
    print(data)

SyntaxError: invalid syntax (<ipython-input-77-1bb45f7d88fd>, line 12)

In [78]:
1일 : {'T': 3, 'P': 10}
2일 : {'T': 5, 'P': 20}
3일 : {'T': 1, 'P': 10}
4일 : {'T': 1, 'P': 20}
5일 : {'T': 2, 'P': 15}
6일 : {'T': 4, 'P': 40}
7일 : {'T': 2, 'P': 200}

SyntaxError: invalid syntax (<ipython-input-78-32e01b37650d>, line 1)

### 익명함수 lambda 함수

- 이름없는 함수를 제작할 수 있다.
- 이름없는 함수는 사용한 즉시 가비지컬렉션으로 사라진다.
- 변수에 할당할 경우는 이름있는 함수로 지정해서 사용해야 한다.

1. 익명함수 정의 및 실행

- lambda 키워드를 사용
- 콜론 ( : )으로 나눠지는데, 좌측은 매개변수, 우측은 표현식을 지정한다.

In [82]:
lambda x : x + 1

In [83]:
(lambda x : x + 1)(3)

4

In [84]:
from types import FunctionType

In [85]:
(lambda x : x + 1).__class__ is FunctionType

True

### 재귀함수

- 함수 자신을 호출하고 함수의 결과와 다른 변수가 계산되어 처리하는 함수
- 꼬리 재귀는 함수 자신만을 호출해서 처리하는 재귀함수이다.
- 특징 : 순환문 없이 함수를 호출해서 순환을 처리한다.

예시 : 5! = 5 x 4 x 3 x 2 x 1

In [91]:
def factorial_for(n):
    result = 1
    for index in range(1, n+1):
        result *= index
    
    return result

In [92]:
factorial_for(5)

120

In [93]:
def factorial_recursive(n):
    return n * factorial_recursive(n-1) if n > 1 else 1

In [94]:
factorial_recursive(5)

120

In [140]:
# 백준 1000번 ~ 사칙연산 연계

def input_AB():
    input_data = input("예제 입력 : ")
    split_input_data = input_data.split(' ')
    
    A = int(split_input_data[0])
    if ( A <= 0 or A >= 10 ):
        print("A의 범위가 올바르지 않습니다.")
        return None

    B = int(split_input_data[1])
    if ( B <= 0 or B >= 10 ):
        print("B의 범위가 올바르지 않습니다.")
        return None
    
    return (A, B)

def A_add_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] + data[1]}')
    
def A_multiple_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] * data[1]}')

def A_subtract_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] - data[1]}')
    
def A_divided_B():
    data = input_AB()
    if data is None:
        return
    
    print(f'예제 출력 : {data[0] / data[1]}')

In [142]:
A_subtract_B()

예제 입력 : 1 2
예제 출력 : -1

# 프로젝트 오일러 문제
 - 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면?

In [143]:
three_list = []
five_list = []

In [149]:
count = 1000
for data in range(1,  count):
    if data % 3 == 0:
        three_list.append(data)
    if data % 5 == 0:
        five_list.append(data)

In [150]:
three_list

[3,
 6,
 9,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399,
 402,
 405,
 408,
 411,
 414,
 417,
 420,
 423,
 426,
 429,
 432,
 435,
 438,
 441,
 444,
 447,
 450,
 453,
 456,
 459,
 462,
 465,
 468,
 471,
 474,
 477,
 480,
 483,
 486,
 489,
 492,
 495,
 498,
 501,
 504,
 507,
 510,
 513,
 516,
 519,
 522,
 525,
 528,
 531,
 534,
 537,
 540,
 543,
 546,
 549,
 552,
 555,
 558,
 561,
 564,
 567,
 570,
 573,
 576,
 579,
 582,
 585,
 588,
 591,
 594,
 597,
 600,
 603,
 606,
 609,
 612,
 615,
 618,
 621,
 624,
 627,
 630,
 633,
 636,
 639,
 642,
 645,
 648,
 651,
 654,
 657,
 660,
 663,
 666,
 669,
 672,
 675,
 678,
 681,
 684,
 687,
 690,
 693,
 696,
 699,
 702,
 705,
 708,
 711,
 714,
 717,
 720,
 723,
 726,
 729,
 732,
 735,
 738,
 741,
 744,
 747,
 750,
 753,
 756,
 759,
 762,
 765,
 768,
 771,
 774,
 777,
 780,
 783,
 786,
 789,
 792,
 795,
 798,
 801,
 804,
 807,
 810,
 813,
 816,
 819,
 822,
 825,
 828,
 831,
 834,
 837,
 840,
 843,
 846,
 849,
 852,
 855,
 858,
 861,
 864,
 867,
 870,
 873,
 876,
 879,
 882,
 885,
 888,
 891,
 894,
 897,
 900,
 903,
 906,
 909,
 912,
 915,
 918,
 921,
 924,
 927,
 930,
 933,
 936,
 939,
 942,
 945,
 948,
 951,
 954,
 957,
 960,
 963,
 966,
 969,
 972,
 975,
 978,
 981,
 984,
 987,
 990,
 993,
 996,
 999]

In [151]:
five_list

[5,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995]

In [147]:
three_list + five_list

[3, 6, 9, 5]

In [152]:
sum(three_list + five_list)

266356

In [153]:
sum(set(three_list + five_list))

233168

# 프로젝트 오일러 문제

- 1 ~ 20 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수
- 1 ~ 10 일 때는 2520

In [156]:
target = 1
is_loop = True

range_value = 21

while True:
    result = []
    for data in range(1,range_value):
        if target % data == 0:
            result.append(True)
    
    if len(result) == range_value - 1:
        print(target)
        is_loop = False
        break
        
    target += 1

232792560

# 프로젝트 오일러 문제

- 2^1000의 각 자릿수를 모두 더하면?

In [167]:
a = 2**1000
total = 0

for data in str(a):
    total += int(data)
    
total

1366

# 프로젝트 오일러 문제

- 20세기에서, 매월 1일이 일요일인 경우는 몇 번?

In [169]:
from datetime import datetime

In [170]:
a = datetime(1900, 1, 1)

In [171]:
a

datetime.datetime(1900, 1, 1, 0, 0)

In [173]:
print(dir(datetime))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

In [177]:
total = 0
result = []
for year in range(1901, 2001):
    for month in range(1, 13):
        if datetime(year, month, 1).weekday() == 0:
            result.append(datetime(year, month, 1))
            total += 1
            
print(total)

172

# 프로젝트 오일러 문제

- 10001번째의 소수

In [180]:
count = 2
count_result = []

while True:
    result = []
    for data in range(1, count):
        if len(result) >= 3:
            break
            
        if count % data == 0:
            result.append(True)
            
    if len(result) == 2:
        count_result.append(count)
        if len(count_result) == 10001:
            break
        
    count += 1

print(count_result[-1])

KeyboardInterrupt: